#!/bin/bash

#enviroment variables
#and settings

ENV=(
  "ROOT_PW=123456"
  "NAME=example"
)

#Forwarded Ports
PORTS=(
  "127.0.0.1:8083:8080"
  "0.0.0.0:10001:10001"
  "127.0.0.1:8084:8082"
  "0.0.0.0:12001:12001"
)

#Volumes to mount
#$DATA is the data root dir from the main config
VOLUMES=(
  "$DATA_ROOT/seafile/seafile-data/:/var/lib/seafile/seafile-data"
  "$DATA_ROOT/seafile/seahub-data/:/var/lib/seafile/seahub-data"
  "$DATA_ROOT/seafile/ccnet-data/:/var/lib/seafile/ccnet-data"
)
